.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bdb9b7;
  padding: 10px;
  margin-bottom: 30px;
  color: #000000;
}
.systemName{
  font-size: 32px;
}

