a{
  font-size: 16px;
  background-color: #5e35b1;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  padding: 13px;
  margin-bottom: 40px;
}

a:hover{
  background-color: #280680;
  transition: all 100ms ease-in;
}

div{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin:0 auto;
}
